---
import Base from '../layouts/Base.astro';
---
<Base title="About">
  <article class="prose-wrap">
    <h1>About</h1>
    <div class="prose">
      <p>I started Thoughts on the Word for a few main reasons: (1) to help people new to the
      Bible feel comfortable getting into it, (2) to help people think and talk more about what
      they're reading, and (3) to show that you don't need a seminary degree or class in ancient
      languages to understand, love, and grow in the Word.</p>

      <p>God has delivered us His Word to read, understand, and use, but a lot of people seem to
      see the Bible as something more like a doctoral thesis paper that requires a lot of
      background and specialized language and knowledge to follow. But that is not at all what God
      has given us. The Bible can be picked up, read, and understood from day 1.</p>

      <p>That said, while each book or letter in the Bible is it's own work, there is a lot you are
      likely to miss if you don't know the rest of it. Think of it like listening to two friends
      laughing hysterically as they quote a movie they both love but that you have never seen; you
      will get some of the jokes, but there is a lot you're going to miss until you go and watch
      the movie. In the same way, as you read through the gospel accounts of Jesus' life and
      ministry, or read through the New Testament letters, there is a LOT you will understand and
      that the Holy Spirit will use in your life, but as you continue on, reading the Old Testament
      histories, prophets, and wisdom, you will start to see themes, imagery, and ideas that add
      incredible depth and richness to the understanding you had at first.</p>

      <p>This is why I deeply disagree with the sentiment I hear all too often today, especially in
      certain Christian circles, that, "Reading the Bible isn't studying it." The idea is that if
      you are just reading, you aren't going deep enough, and really you need to be doing inductive
      studies, word studies, reading commentaries, etc. to really understand the Word, but that's
      simply not true. The Bible was written to be read, just like any other book or letter that
      has ever been written. Sure, those things can be helpful, but if you haven't "watched the
      whole movie" yet, there's no reason to spend your time trying to dig deeply into the "movie
      quotes."</p>

      <p>My hope with these posts is that they would help people connect the dots a little faster.
      I want these posts to help people see the themes and ideas flowing through the Scriptures, as
      well as to think a little more deeply about what we are reading each day. It is easy to fall
      into a routine of reading the Bible without ever really stopping to think about it, so, as we
      build a habit of daily time in the Word, and work our way through books, images, and ideas
      that maybe we haven't read or noticed before, let's take the time to sit with them before the
      Lord and let Him shape our thinking and our understanding of Him, His Word, and His world.</p>

      <h2>About me</h2>

      <p>My name is Joe Belisle. I am a husband and a father of four, and a software engineer by
      trade.</p>

      <p>My main qualification, as I see it, for maintaining this blog is that I am not in any kind
      of paid ministry position (nor have I ever been), and I don't have any degree in anything to
      do with the Bible, or Christianity at all for that matter. I did take one class on Isaiah
      through an extension campus with Trinity Evangelical Divinity School that I wanted to try for
      fun, and it was fascinating and I learned a ton, but it was also way more work and time than I
      should really be devoting to something I am doing just for fun, so I never signed up for any
      other courses.</p>

      <p>Ultimately, I'm a guy who loves the Bible and wants to help others build and enjoy the same
      love for the Word that the Lord has built in me.</p>

      <p>I came to faith in Christ at 20 years old in 2008. I had the privilege of being part of a
      church that highly regarded the Word and taught it faithfully, both at the church-level, as
      well as in small groups, so I had a lot of opportunity to learn. I really didn't enjoy reading
      the Word much though, and definitely didn't make it a habit for at least the first couple
      years I was a Christian. At one point though I decided that, if the Lord says I should be
      reading the Word regularly, then I probably should, whether I enjoyed it or not, and so I
      started in on a reading plan. Over the course of that bible-in-a-year plan, I started to see
      and understand so much more of the interconnectedness of Scripture, and started to really
      enjoy the time I was spending reading the Word, such that by the time I finished it, there was
      no question at all that I was going to keep going.</p>

      <p>I have followed various Bible reading plans at times since then, but I honestly much more
      enjoy just reading through it like a book, not limiting how many chapters a day I'm reading,
      and not reading a bit from here and a bit from there each day, but just having the time set
      aside to sit down with the Lord and His Word and enjoy it. I especially love a good verse-less
      Bible for this because when you read without verses, headings, footnotes, cross-references,
      study notes, etc., it is so much easier to just get lost in what you are reading.</p>
    </div>
  </article>
</Base>
